[defaults]
# インベントリのデフォルト位置
inventory = ./inventories/vagrant/hosts.ini

# ロールの検索パス
roles_path = ./roles

# SSH接続時のホストキーチェックを無効化
host_key_checking = False

# Pythonの自動発見
interpreter_python = auto_silent

# ★重要：共有フォルダの権限エラー(Exec format error)を回避するため
# 共有フォルダ(./)ではなく、Linux側の安全な絶対パスを指定します
vault_password_file = /home/vagrant/.vault_password

[privilege_escalation]
# sudo実行をデフォルトに設定
become = True
become_method = sudo
become_user = root