[defaults]
# インベントリのデフォルト位置（まずはvagrantを指定）
inventory = ./inventories/vagrant/hosts.ini

# ロールの検索パス
roles_path = ./roles

# SSH接続時のホストキーチェックを無効化（検証環境で便利）
host_key_checking = False

# Pythonの自動発見
interpreter_python = auto_silent

[privilege_escalation]
# sudo実行をデフォルトに設定
become = True
become_method = sudo
become_user = root